@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<link>
<link />
<link> <a href="" class="after" onclick="">GOOGLE AM</a>
<link />



@section Scripts{



    <script>

      


        //function advertClick() 
        //{
        //    $(document).ready(function () {
        //    axios.get("https://localhost:44394/api/Home").then
        //        ((response) => {
        //            console.log("Message :", response.data.message);

                    
        //                window.location.href = response.data.url;
        //                //  var url = "http://javarevisited.blogspot.com"; $(location).attr('href', url);
        //            });
        //        });

           
        //}
    </script>


    @*<script type="text/javascript">

        function advertClick() {
            console.log("it is well")
            window.location = "https://stackoverflow.com/questions/8148632/redirecting-to-another-page-in-asp-net-mvc-using-javascript-jquery";
            //  alert("World Greatest!!!");
            let address = "https://localhost:44394/api/Home";

            axios.get("https://localhost:44394/api/Home").then
                ((response) => {
                    console.log("Message :", response.data.message);
                    window.location = response.data.url
                });
            //axios({

            //    method: "get",

            //    url: address

            //    //  data: users

            //}).then

            //    (response => {
            //        console.log("Message :", response.data.message)
            //        window.location.href = response.data.url
            //    });
        }


        $(document).ready(function () {

            $(".after").click(function () {

                alert("You clicked  on google!");

            });

        });



            //let users = {

            //    Name: document.getElementById("txtName").value,

            //    Address: document.getElementById("txtAddress").value,

            //    PhoneNo: document.getElementById("txtPhone").value

            //};

            //axios({

            //    method: "get",

            //    url: url

            //  //  data: users

            //}).then

            //    (data => {
            //        window.location.href = data.url

            //      //  document.getElementById("Name").innerHTML = (data.data.name)

            //        //document.getElementById("Address").innerHTML = (data.data.address)
            //    });
    </script>*@
}